:root {
  --color-1: #4682B4;
  --color-2: #74a1c7;
  --color-3: #a3c1da;
  --color-4: #d1e0ec;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  color: #222222;
}

a {
  text-decoration: none;
  color: #222222;
}

.text_center {
    text-align: center;
}

h2, h3 {
  margin: 0;
}