.calendar_container {
    border-radius: 8px;
    box-shadow: 0 0 18px #eeeeee;
    max-width: 720px;
    padding: 0;
}

.calendar_title {
    color: white;
    background-color: var(--color-2);
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
}

.calendar_time {
    width: 100px;
}

.calendar_time, .calendar_info {
    padding: 12px;
    border-radius: 8px;
}

.calendar_info:hover {
    background-color: var(--color-4);
}